<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Ejercicio 2</title>
</head>
<body>
    <div class="container">
        <h1> Inicio de sesión</h1>
        <form method="post">
              <label for="nombre">Ingresa tu nombre </label>
              <input type="text" id="nombre" name="nombre" required>
              <label for="contraseña">Ingresa tu contraseña </label>
              <input type="password" id="contraseña" name="contraseña" required>
              <button type="submit" class="btn-azul" >Verificar</button><br>
              <button class="btn-azul" onclick="location.href='/'" type="button" style="margin-top: 10px";>Volver</button>
        </form>
        <div class="detalle">
            {{mensaje}}
        </div>
    </div>
</body>
</html>